.tasks {
    background-color: white;
    padding: 20px;
    margin: 2px 20px 20px;
    list-style-type: none;
    box-shadow: 0px 0px 5px 0px #C4C4C4;
}

.button__done {
    background-color: hsl(120, 100%, 25%);
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.button__done:active {
    border: 1px solid black;
}

.button__done:hover {
    transition: 0.8s;
    background-color: hsl(120, 100%, 35%);
}

.button__remove {
    background-color: hsl(348, 83%, 47%);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.button__remove:hover {
    transition: 0.8s;
    background-color: hsl(348, 83%, 60%);
}

.button__remove:active {
    border: 1px solid black;
}

.task__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    word-break: break-word;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.task__item--done {
    text-decoration: line-through;
}

.taskItem--hidden {
    display: none;
}